<header class="header" *ngIf="pfModel && pfModel.attributes">
  <p class="form-error pl-1 text-danger" *ngIf="formError">Please fill-in fields with -></p>
  <div>
    <form class="form-inline" #searchForm="ngForm" (ngSubmit)="searchPitch(searchForm, pfModel)" novalidate>
      <div class="form-group">
        <input required type="text" class="form-control" [(ngModel)]="pfModel.id" name="pitch_id" id="pitch_id"
          placeholder="Pitch Id e.g 32990">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="pfModel.attributes.starts" required name="starts_date"
          id="starts_date" placeholder="Start date e.g 2018-01-09">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="pfModel.attributes.ends" required name="ends_date"
          id="ends_date" placeholder="End date e.g 2018-01-15">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
</header>