.header{
    margin-bottom: 3em;
    border-bottom: 1px dotted #444;
    padding: 1em;

    .form-inline {

        .form-group {
            margin: 10px;
        }
    }

    .ng-invalid:not(form)  {
        border-left: 6px solid #444;
    }

    .form-error{
        width: 25%;
        border-right: 6px solid red;
    }
}